/* Animation d'apparition pour la carte du parking */
.parking-map-fade-enter {
  opacity: 0;
  transform: translateY(30px);
}
.parking-map-fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms, transform 400ms;
}
.parking-map-fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.parking-map-fade-exit-active {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 400ms, transform 400ms;
} 